NODE_ENV=production
PORT=3001

WORKSHOP_START_TIME=19:00
WORKSHOP_TIMEZONE=Asia/Kolkata

ZOOM_SDK_KEY=
ZOOM_SDK_SECRET=
ZOOM_MEETING_ID=
ZOOM_MEETING_PASSWORD=

GOOGLE_APPS_SCRIPT_URL=
ADMIN_DASHBOARD_PASSWORD=

MONGODB_HOST=
MONGODB_USER=
MONGODB_PASS=
MONGODB_DB_NAME=Workshop-Joining-Data
MONGODB_APP_NAME=Dv-data

CRM_MONGODB_DB_NAME=i-crm-workshop
CRM_LEADS_COLLECTION_NAME=leads
CRM_LEAD_OWNER_FIELD=counselor
